@model IEnumerable<LiquorWebshop.Models.Country>
<div class="vh-100 w-75 container">
    <div class="mt-5 p-5 border rounded shadow">
        <div>
            <h2>Country List</h2>
        </div>
        <div style="float: right">
            <div style="display:inline-block;">
                <a asp-controller="Country" asp-action="Create" class="btn btn-outline-primary" style="display:block;"><i class="bi bi-plus-lg"></i>Add Country</a>
            </div>
        </div>
        <br />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="text-end">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary"><i class="bi bi-pencil"></i></a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"><i class="bi bi-file-earmark-text"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="Country" asp-action="Index" class="btn btn-outline-primary" style="width:150px">Back</a>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}